@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-lg-5 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Autocomplete Form</h2>
        
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label ">Negara</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Negara" type="text" id="countryInput" name="countryInput"/>
                    <span asp-validation-for="Negara" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label ">Pelabuhan</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Pelabuhan" type="text" id="pelabuhanInput" name="pelabuhanInput"/>
                    <span asp-validation-for="Pelabuhan" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label ">Barang</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Barang"/>
                    <span asp-validation-for="Barang" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label "></label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="DetailBarang"></textarea>
                    <span asp-validation-for="DetailBarang" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label ">Harga</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" asp-for="Harga"/>
                    <span asp-validation-for="Harga" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label ">Tarif Bea Masuk</label>
                <div class="col-sm-7">
                    <input class="form-control" asp-for="TarifBeaMasuk"/>
                    <span asp-validation-for="TarifBeaMasuk" class="text-danger"></span>
                </div>
                <span class="col-sm-1">%</span>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label "></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Result"/>
                    <span asp-validation-for="Result" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

